@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

* {
  /* height & width now includes border & padding */
  box-sizing: border-box;
 /* temp border to help me see boxes */
}
.flex-wrapper {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  color: rgb(75,69,69);
  background-color: rgb(243,243,227);
 }

.title, .artist, .date, .medium {
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  border: solid 1px grey;
  background-color: white;
  padding: 5px;
  margin: 2px 0px 0px 1px;
}
 
div.h1 {
  display: flex;
  color: rgb(243,243,227); 
  font-family: 'Gideon Roman', cursive;
  background-color: rgb(88,37,37);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
 }

 div.h6 {
  display: flex;
  height: 25%;
  color: rgb(243,243,227);
  font-family:Verdana, sans-serif;
  background-color: rgb(155,51,33);
  justify-content: center;
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(146,139,125); 
}

.button {
  background-color: rgb(98, 196, 98);
  color: rgb(243,243,227);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Title {
  padding: 5px 5px 5px 5px;
}

#Artist {
  padding: 5px 5px 5px 5px;
}

#Date {
  padding: 5px 5px 5px 5px;
}

#Medium {
  padding: 5px 5px 5px 5px;
}

div.image-box {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}